* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

/*title*/
.title {
  background-image: url("./housetopassets/samgyup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10% 10%;
}

.logo {
  width: 15rem;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.display-1 {
  color: #ffffec;
}

h4 {
  color: #ffffec;
}
.text-nowrap {
  margin-left: 5rem;
  border-radius: 10px;
}

/*Statement*/
.statement {
  background-color: #9290c3;
  padding: 5rem;
}

#menu1 {
  transform: translateY(-30px);
  margin-right: 2rem;
}

.menu2 {
  transform: translateY(50px);
}

.rounded {
  width: 40%;
}

/* Takeout */
.takeout {
  background-color: #fefbf6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  text-align: center;
}
.card-img-top {
  border-radius: 50%;
}

/*Testimonial*/
.customers-comment {
  background-color: #9290c3;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#testimonial-image {
  filter: opacity(90%);
}

.carousel-inner {
  transition: 1s, ease-in, 1.5s;
}

/* contact */
.contacts {
  background-color: #fefbf6;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 30rem;
  border: solid 1px;
  border-radius: 10px;
}

.address {
  margin-top: 3rem;
}

/* Modal */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefbf6;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modallogo {
  width: 10%;
  border-radius: 50%;
}

.addons {
  text-align: center;
  font-size: small;
}

.modal-footer {
  font-size: small;
}

@media (max-width: 1028px) {
  blockquote {
    text-align: center;
  }
  .rounded {
    width: 100%;
  }
  .title {
    text-align: center;
    padding: 50% 10%;
  }
  .contacts {
    background-color: #fefbf6;
    padding: 2rem;
    text-align: center;
  }
  #map {
    width: 20rem;
  }
}
